<div class="submission-box">
    <div class="submission-status-incomplete">
        <span class="img1"><img src="../../../../assets/images/status-incomplete.png" alt="location"></span>
        Uncomplete
    </div>
    <p class="sub-heading mb-2">Work Flow: Requires location</p>
    <p class="fromSub mb-2"><span>From: </span>denisgordiyenya@gmail.com</p>
    <p class="fromSub mb-2"><span>To: </span>denisgordiyenya@gmail.com</p>
    <p class="fromSub mb-2"><span>Due Date: </span><span id="dueDate">06 December</span></p>
</div>