<div class="main-header">
    <div class="logo">
        <p class="logoText">ZenduForms</p>
        <div class="center-menu">
            <div class="menu-item1">
                <a href="" class="menu-icon"><img src="../../../../assets/images/Vector.png" alt=""></a>
                <p class="item-name">Forms</p>
            </div>
            <div class="menu-item1">
                <a href="" class="menu-icon"><img src="../../../../assets/images/customers.png" alt=""></a>
                <p class="item-name">Customers</p>
            </div>
            <div class="menu-item1 active-menu">
                <a href="" class="menu-icon"><img src="../../../../assets/images/submissions.png" alt=""></a>
                <p class="item-name">Submissions</p>
            </div>
            <div class="menu-item1">
                <a href="" class="menu-icon"><img src="../../../../assets/images/history.png" alt=""></a>
                <p class="item-name">History</p>
            </div>
            <div class="menu-item1">
                <a href="" class="menu-icon"><img src="../../../../assets/images/reports.png" alt=""></a>
                <p class="item-name">Reports</p>
            </div>
            <div class="menu-item1">
                <a href="" class="menu-icon"><img src="../../../../assets/images/reports.png" alt=""></a>
                <p class="item-name">Workflow</p>
            </div>
        </div>
    </div>
    <div class="right-menu">
        <a href="" class="right-menu-icon"><img src="../../../../assets/images/notification.png" alt=""></a>
        <a href=""><img src="../../../../assets/images/logout.png" alt=""></a>
    </div>

</div>
